doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Strategies for modernising your stack, without going insane

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .intro {
      background: white url('images/intro-background.jpg') no-repeat;
    }

    .fastchange {
      background: white url('images/fastchange.jpg') no-repeat;
    }

    .dinosaur {
      background: black url('images/dinosaur.jpg') no-repeat;
    }

    .policies {
      background: black url('images/policies.jpg') no-repeat;
    }

    .guru {
      background: black url('images/guru.jpg') no-repeat;
    }

    .deadline {
      background: black url('images/deadline.jpg') no-repeat;
    }

    .cloudy {
      background: black url('images/cloudy.jpg') no-repeat;
    }

    .lordoftherings {
      background: black url('images/lordoftherings.jpg') no-repeat;
    }

  body

    article

      section
        img.img--top(src='images/codeeurope.svg')
        h2 Strategies for modernising your stack, without going insane

        h3
          a(href='https://twitter.com/ferakpeter') @ferakpeter
        img.avatar(src='images/profile.png')
        img.img--bottom(src='images/intro-bottom.png')

      section
        img.avatar.avatar(src='images/albert-einstein.jpg')
        br
        blockquote.
          Insanity: doing the same thing <strong>over and over</strong> again and <strong>expecting</strong> different results.
        p
          a(href='https://www.brainyquote.com/quotes/unknown_133991') Albert Einstein

      section.dark
        h1 We live in a time of tech evolution

      section.dark(data-bespoke-backdrop='fastchange')
        h2 Change is constant

      section
        h2 During one lifetime
        ul
          li PC
          li Web
          li Mobile
          li VR
          li AI

      section.dark(data-bespoke-backdrop='dinosaur')
        h2 Humans are creatures of habit

      section.dark(data-bespoke-backdrop='policies')
        h2 Policies may slow down the technological progress

      section
        div
          span.box Using the same stack over and over
          span.box
            img.img(src='images/scale.jpg')
          span.box Jumping on something new all the time

      section
        h2 Agile Principle
        p Continuous attention to technical excellence and good design enhances agility

      //-- BUT it doesn't tell us about how to choose the right stack

      section
        img.img--small(src='images/scurve.jpg')
        p
          a(href='https://en.wikipedia.org/wiki/The_Innovator%27s_Dilemma') Innovator's Dilemna

      section
        h2 Finding a sustainable balance for a company?
        ul
          li Paradigm shifts can go under the radar
          li Decision can be too late
          li Long running rewrites

      section
        h2 Who do we turn to in those situations?

      section.dark(data-bespoke-backdrop='guru')
        h2 Internal or external tech expert
        p Biased, and might create a bottle-neck

      section.dark(data-bespoke-backdrop='cloudy')
        h2 There might be unclarity about who can take a big decision
        p Too much diversity can lead to chaos

      section.dark(data-bespoke-backdrop='deadline')
        h2 The sales team can inflence the decision
        p A deadline can force an optimization for short term benefit

      section
        h2 By the time a decision is made the system may be at the limit

      section.dark(data-bespoke-backdrop='lordoftherings')
        h2 Getting relevant information from the right people, on time, will lead to a better decision

      section.dark
        h1 Incremental adaption of new technologies

      section
        h2 Building small "Islands" into the system
        ul
          li Javascript application - export a ReasonML module
          li API - move one resource to a new platform
          li In the backend - extract a feature
          li Validated learning
          li Getting feedback about assumptions

      section
        h2 Establish or enhance communication channels
        ul
          li Internal meetups
          li Show cases, benchmarks
          li Sharing code must be easy and well defined
          li Create a buzz
          li Support early adopters

      section
        h2 Once something works for one team...

      section
        h2 Be relentless about common practices
        ul
          li How-Tos and best practices must be communicated through all channels
          li Pull Requests with strict rules
          li Let marketing and design people work on adoption
          li Plan this into the regular delivery cycle

      section
        h2 Management focus on communication
        ul
          li Engineers have a different focus
          li Engineers usually think about improving "their" part
          li It takes skills that are not "core" skill
          li It may not happen "naturally"

      section
        h2 Discover big decisions through proven "experiments"

      section.dark
        h1 Creating a strategy

      section
        img.img--small(src='images/scurve.jpg')
        p
          a(href='https://en.wikipedia.org/wiki/The_Innovator%27s_Dilemma') Innovator's Dilemna

      section
        img.img--med(src='images/tech-radar-languages.jpg')
        p
          a(href='https://assets.thoughtworks.com/assets/technology-radar-vol-17-en.pdf') Thoughtworks Technology Radar

      section
        img.img--med(src='images/tech-radar-platforms.jpg')
        p
          a(href='https://assets.thoughtworks.com/assets/technology-radar-vol-17-en.pdf') Thoughtworks Technology Radar

      section
        h2 It's necessary to understand how fast things are approaching

      section
        h2 Agile
        ul
          li Product
          li Collaboration
          li Development

      section
        h2 Tech Strategy Pillars
        ul
          li Product
          li Scale
          li Technical process
          li Skills
          li Mass

      section
        h2 Product
        p Geizhals vs. Snapchat

      section
        h2 Scale
        p Bwin vs. Facebook

      section
        h2 Technical process
        p "Blind coding" vs. Continous Delivery

      section
        h2 Skills
        p What are business needs vs. What do people already know

      section
        h2 Mass
        p Hiring (location) strategy vs. Educational (pipeline) strategy

      section
        h2 Graph about % achieved of each pillar
        ul
          li Innovation
          li Market share
          li Operation
          li Training
          li Recruitment

      section.dark
        h1 Implementing the Strategy

      section
        h2 Tech Consultants
        p Product
        p.highlight Scale
        p.highlight Technical process
        p Skills
        p Mass

      section
        h2 Team Building
        p Product
        p Scale
        p Technical process
        p Skills
        p.highlight Mass

      section
        h2 Evaluations/Bonuses
        p Product
        p Scale
        p Technical process
        p.highlight Skills
        p.highlight Mass

      section
        h2 Outsourcing
        p.negative Product
        p.highlight Scale
        p Technical process
        p.negative Skills
        p.amber Mass

      section
        h2 Needs   % achieved of each pillar
        ul
          li Innovation
          li Market share
          li Operation
          li Training
          li Recruitment

      section
        h2 Using the budget for smaller improvements targeted to your needs

      section
        h2 Experience products of competitors with development teams

      section
        h2 Internal Meetups

      section
        h2 Hosting Meetup communities

      section
        h2 Code Retreats
        p To define Style Guides, Coding Rules, Tooling
        p To try things out
        p To create benchmarks

      section
        h2 Real Customers using pre-launch software on-site

      section
        h2 Field work
        p Direct feedback and implementation

      section
        h2 Skill watch
        p Track and visualize skills

      section
        h2 Use new technology for internal tools

      section
        h2 Kaggle competition

      section
        h2 Combine measures for high effect

      section
        h2 Real Customers + Code Retreats
        p.highlight Product
        p.highlight Scale
        p.amber Technical process
        p.amber Skills
        p Mass

      section
        h2 Field work + Code Retreats + Hosting Meetup
        p.highlight Product
        p.highlight Scale
        p.highlight Technical process
        p.highlight Skills
        p.highlight Mass

      section
        h2 Improved  % achieved of each pillar
        ul
          li Innovation
          li Market share
          li Operation
          li Training
          li Recruitment


      section
        h1 How to get the right suggestions

      secion
        h2 Involve the right people

      section
        h2 Product
        p Marketing, Product, Architects

      section
        h2 Scale
        p Architects, Tech teams, Infrastructure

      section
        h2 Technical process
        p Agile Coaches, Scrum Masters, Tech teams

      section
        h2 Skills
        p Managers, Scrum Masters, Tech teams

      section
        h2 Mass
        p Managers, HR, Tech teams

      section
        h2 Steer the strategy with quality information

      section
        h2 Track  % achieved of each pillar
        ul
          li Innovation
          li Market share
          li Operation
          li Training
          li Recruitment

      section.dark
        h1 Summing up

      section
        h2 Small steps before taking big steps

      section
        h2 Management needs to facilitate change actively

      section
        h2 Steer change with relevant information from relevant people

      section
        h2 The tech stack is like a wardrobe
        p Make sure the system parts used most often are up to date with latest technologies

      section
        h2 Musical evolution
        ul
          li Changes are incremental and seemingly small
          li But sometimes there are paradigm-shifts

      section
        h2 The electric guitar changed everything
        img.img--med(src='images/electric-guitar.jpg')

      section
        h2 Find the tools to identify the next big thing for your business!

      section
        img.img--top(src='images/codeeurope.svg')
        h1 Thank you!
        h3
          a(href='https://twitter.com/ferakpeter') @ferakpeter
        img.avatar.avatar(src='images/profile.png')
        img.img--bottom(src='images/intro-bottom.png')

      script(src='build/build.js')