doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Strategies for modernising your stack, without going insane

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .intro {
      background: white url('images/intro-background.jpg') no-repeat;
    }

  body

    article

      section(data-bespoke-backdrop='intro')
        h2 Strategies for modernising your stack, without going insane

        h3
          a(href='https://twitter.com/ferakpeter') @ferakpeter
        img.avatar(src='images/profile.png')

      section
        img.avatar.avatar(src='images/steve-balmer.jpg')
        br
        blockquote.
          <strong>Great companies</strong> in the way they work, start with <strong>great leaders</strong>.
        p
          a(href='https://en.wikipedia.org/wiki/Steve_Ballmer') Steve Balmer


      section(data-bespoke-backdrop='intro')
        h1 Thank you!
        h3
          a(href='https://twitter.com/ferakpeter') @ferakpeter
        img.avatar.avatar--small(src='images/profile.png')

      script(src='build/build.js')